.cave {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: #000;
	transform: scale(1.1);
}

.zoom {
	animation: cave 120s linear infinite;
}
.cave-container {
	overflow: hidden;
}

.cave-background-1 {
	position: absolute;
	top: 0px;
	left: 0;

	background-size: auto 100%;
	animation: bg1 940s linear infinite;
	height: 460px;
	width: 1636px; /* double actual width */
}
.cave-background-2 {
	position: absolute;
	top: 0px;
	left: 0;

	background-repeat: repeat-x;

	background-size: auto 100%;
	animation: bg1 610s linear infinite;
	height: 460px;
	width: 1636px; /* double actual width */
}
.cave-ceiling {
	position: absolute;
	top: 0;
	left: 0;
	background-repeat: repeat-x;
	background-size: auto 100%;
	animation: c1 210s linear infinite;
	height: 110px;
	width: 2560px;
}

.pillars-3 {
	display: flex;
	position: absolute;
	justify-content: space-between;
	top: 0;
	left: 0;
	width: 1236px;
	animation: p3 220s linear infinite;
}
.pillars-3 div {
	transform: scale(2.3);
}
.pillars-3 .p1 {
	width: 107px;
	height: 338px;
}
.pillars-3 .p2 {
	width: 154px;
	height: 315px;
}
.pillars-3 .p3 {
	width: 146px;
	height: 344px;
}
.pillars-4 {
	display: flex;
	position: absolute;
	justify-content: space-between;
	top: 0;
	left: 0;
	width: 1636px;
	animation: p4 580s linear infinite;
}
.pillars-4 div {
	background-size: auto 100%;
	transform: scale(1.9);
}
.pillars-4 .p1 {
	height: 360px;
	width: 91px;
}
.pillars-4 .p2 {
	height: 325px;
	width: 144px;
}
.pillars-4 .p3 {
	height: 325px;
	width: 143px;
}
.pillars-4 .p4 {
	height: 360px;
	width: 104px;
}
.pillars-4 .p5 {
	height: 341px;
	width: 106px;
}
.cave-stalactites-1 {
	display: flex;
	position: absolute;
	justify-content: space-between;
	top: 20px;
	left: 0;
	width: 2636px;
	animation: s1 510s linear infinite;
}
.cave-stalactites-1 div {
	transform: scale(2.5);
}
.cave-stalactites-1 .s1 {
	height: 82px;
	width: 78px;
}
.cave-stalactites-1 .s2 {
	height: 58px;
	width: 44px;
}
.cave-stalactites-1 .s3 {
	height: 39px;
	width: 29px;
}
.cave-stalactites-1 .s4 {
	height: 107px;
	width: 86px;
}
.cave-stalactites-1 .s5 {
	height: 48px;
	width: 32px;
}
.cave-stalactites-1 .s6 {
	height: 41px;
	width: 116px;
}
.cave-stalactites-1 .s7 {
	height: 67px;
	width: 36px;
}
.cave-stalactites-1 .s8 {
	height: 95px;
	width: 93px;
}
.cave-stalactites-2 {
	display: flex;
	position: absolute;
	justify-content: space-between;
	top: 20px;
	left: 380px;
	width: 1000px;
	animation: s1 650s linear infinite;
}
.cave-stalactites-2 div {
	transform: scale(1.8);
}
.cave-stalactites-2 .big-s1 {
	width: 229px;
	height: 127px;
}
.cave-stalactites-2 .big-s2 {
	width: 92px;
	height: 115px;
}
.stalagmite-container {
	position: absolute;
	bottom: 20px;
	left: 460px;
	width: 1000px;
	display: flex;
	animation: r1 590s linear infinite;
}
.big-stalagmite {
	margin-left: 350px;
	width: 140px;
	height: 106px;
	transform: scale(1.5);
}
.cave-rocks-1 {
	display: flex;
	position: absolute;
	justify-content: space-between;
	bottom: 20px;
	left: 0;
	width: 3000px;
	animation: r1 580s linear infinite;
	transform: scale(1.1);
}
.cave-rocks-1 div {
	transform: scale(2);
}
.cave-rocks-2 {
	display: flex;
	position: absolute;
	justify-content: space-between;
	bottom: 30px;
	left: 0;
	width: 880px;
	animation: r2 420s linear infinite;
}
.cave-rocks-2 div {
	transform: scale(2.2);
}
.cave-rocks-2 .r1 {
	width: 81px;
	height: 70px;
}
.cave-rocks-2 .r2 {
	width: 89px;
	height: 60px;
}
.cave-rocks-1 .r1 {
	width: 140px;
	height: 64px;
}
.cave-rocks-1 .r2 {
	width: 52px;
	height: 49px;
}
.cave-rocks-1 .r3 {
	width: 40px;
	height: 34px;
}
.cave-rocks-1 .r4 {
	width: 93px;
	height: 60px;
}
.cave-rocks-1 .r5 {
	width: 67px;
	height: 28px;
}
.cave-rocks-2 .r6 {
	width: 81px;
	height: 70px;
}
.cave-rocks-2 .r7 {
	width: 89px;
	height: 60px;
}
.cave-floor-1 {
	position: absolute;
	bottom: 20px;
	left: 0;
	background-repeat: repeat-x;
	background-size: auto 100%;
	animation: c1 320s linear infinite;
	height: 32px;
	width: 2560px;
}
.cave-floor-2 {
	position: absolute;
	bottom: 50px;
	left: 0;
	background-repeat: repeat-x;
	background-size: auto 100%;
	animation: c1 250s linear infinite;
	height: 38px;
	width: 2560px;
}
.blackout {
	background: #000;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	animation: fadeaway 35s ease-in-out infinite;
	animation-iteration-count: 1;
}

.chalkboard {
	width: 330px;
	padding: 20px;
	height: 250px;
	background-color: rgb(1, 1, 1, 0.7);
	border: 10px solid #404040;
	position: absolute;
	transform: translate(50%, -50%);
	display: none;
}

.fullscreen .chalkboard {
	color: rgb(255, 255, 255, 1);
	font-family: "Joan", serif;
	font-size: 19px;
	text-shadow: 0 0 2px rgb(194, 225, 252);
	line-height: 1.7em;
	font-weight: 400;
}

/* intro text */

.intro {
	position: absolute;
	color: #fff;
	top: 190px;
	left: 60px;
	font-size: 3em;
	width: 100%;
	animation: fadein 12s ease-in-out infinite;
	animation-iteration-count: 1;
}

.textbox {
	background: rgb(1, 1, 1, 0.4);
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 80px;
	/* animation: typebox 5s ease-in-out infinite; */
	animation-iteration-count: 1;
	padding: 10px 20px 10px 40px;
	color: #fff;
}
.eyes {
	background-image: url("./images/blinkyeyes.gif");
	width: 150px;
	height: 55px;
	position: absolute;
	top: 80px;
	left: 320px;
	animation: blinky 20s ease-in-out infinite;
	animation-iteration-count: 1;
	opacity: 0;
}

.smeagol {
	background-image: url("./images/gollum.gif");
	position: absolute;
	bottom: -250px;
	width: 300px;
	height: 425px;
	left: 150px;
	animation: gollum 120s ease-in-out infinite;
	transform: scale(0.4);
}
.intro span {
	display: inline-block;
	text-shadow: 0 0 0 whitesmoke;
	-webkit-animation: smoky 15s 13s both;
	animation: smoky 15s 13s both;
	font-family: "El Messiri", sans-serif;
	text-transform: uppercase;
	font-size: 0.8em;
}

.intro span:nth-child(even) {
	-webkit-animation-name: smoky-mirror;
	animation-name: smoky-mirror;
}

.vid-screen {
	position: absolute;
	top: 90px;
	left: 47px;
	z-index: 9999;
}
.show-it {
	display: block;
}
.hide-it {
	display: none;
}
/* *************
*              *
*    IMAGES    *
*              *
************* */

.cave-background-1 {
	background: url("./images/caves/Basic_Cave/006_background.png"),
		url("./images/caves/Basic_Cave/007_background.png"),
		url("./images/caves/Basic_Cave/008_background.png"), repeat-x;
}
.cave-background-2 {
	background-image: url("./images/caves/Basic_Cave/005_background.png");
}
.cave-ceiling {
	background-image: url("./images/caves/Basic_Cave/001_ceiling.png");
}
.pillars-3 .p1 {
	background-image: url("./images/caves/Basic_Cave/003_pillar_001.png");
}
.pillars-3 .p2 {
	background-image: url("./images/caves/Basic_Cave/003_pillar_002.png");
}
.pillars-3 .p3 {
	background-image: url("./images/caves/Basic_Cave/003_pillar_003.png");
}
.pillars-4 .p1 {
	background-image: url("./images/caves/Basic_Cave/004_pillar_001.png");
}
.pillars-4 .p2 {
	background-image: url("./images/caves/Basic_Cave/004_pillar_002.png");
}
.pillars-4 .p3 {
	background-image: url("./images/caves/Basic_Cave/004_pillar_003.png");
}
.pillars-4 .p4 {
	background-image: url("./images/caves/Basic_Cave/004_pillar_004.png");
}
.pillars-4 .p5 {
	background-image: url("./images/caves/Basic_Cave/004_pillar_005.png");
}

.cave-stalactites-1 .s1 {
	background-image: url("./images/caves/Basic_Cave/002_stalactite_001.png");
}
.cave-stalactites-1 .s2 {
	background-image: url("./images/caves/Basic_Cave/002_stalactite_002.png");
}
.cave-stalactites-1 .s3 {
	background-image: url("./images/caves/Basic_Cave/002_stalactite_003.png");
}
.cave-stalactites-1 .s4 {
	background-image: url("./images/caves/Basic_Cave/002_stalactite_004.png");
}
.cave-stalactites-1 .s5 {
	background-image: url("./images/caves/Basic_Cave/002_stalactite_005.png");
}
.cave-stalactites-1 .s6 {
	background-image: url("./images/caves/Basic_Cave/002_stalactite_006.png");
}
.cave-stalactites-1 .s7 {
	background-image: url("./images/caves/Basic_Cave/002_stalactite_007.png");
}
.cave-stalactites-1 .s8 {
	background-image: url("./images/caves/Basic_Cave/002_stalactite_008.png");
}

.cave-stalactites-2 .big-s1 {
	background-image: url("./images/caves/Basic_Cave/003_stalactite_001.png");
}
.cave-stalactites-2 .big-s2 {
	background-image: url("./images/caves/Basic_Cave/003_stalactite_003.png");
}

.big-stalagmite {
	background-image: url("./images/caves/Basic_Cave/003_stalactite_002.png");
}
.cave-rocks-1 .r1 {
	background-image: url("./images/caves/Basic_Cave/002_rock_001.png");
}
.cave-rocks-1 .r2 {
	background-image: url("./images/caves/Basic_Cave/002_rock_002.png");
}
.cave-rocks-1 .r3 {
	background-image: url("./images/caves/Basic_Cave/002_rock_003.png");
}
.cave-rocks-1 .r4 {
	background-image: url("./images/caves/Basic_Cave/002_rock_004.png");
}
.cave-rocks-1 .r5 {
	background-image: url("./images/caves/Basic_Cave/002_rock_005.png");
}
.cave-rocks-2 .r6 {
	background-image: url("./images/caves/Basic_Cave/002_rock_006.png");
}
.cave-rocks-2 .r7 {
	background-image: url("./images/caves/Basic_Cave/002_rock_007.png");
}
.cave-floor-1 {
	background-image: url("./images/caves/Basic_Cave/001_floor.png");
}
.cave-floor-2 {
	background-image: url("./images/caves/Basic_Cave/002_floor.png");
}

/* ****************
*                 *
*    ANIMATION    *
*                 *
**************** */

@keyframes blinky {
	0% {
		opacity: 1;
		top: 120px;
		left: 320px;
	}
	45% {
		top: 120px;
		left: 320px;
		opacity: 1;
	}
	46% {
		opacity: 0;
		left: 80px;
		top: 280px;
	}
	47% {
		opacity: 1;
	}
	98% {
		opacity: 1;
	}
	99% {
		left: 80px;
		top: 280px;
		opacity: 0;
	}
}
@keyframes fadein {
	0% {
		opacity: 0;
	}
	60% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadeaway {
	0% {
		opacity: 1;
	}
	60% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes cave {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(20);
	}
}

@keyframes bg1 {
	0% {
		transform: translate(0);
		transform: scale(1);
	}
	100% {
		transform: scale(10);
		transform: translate(-818px); /* The image width */
	}
}
@keyframes c1 {
	0% {
		transform: translate(0);
	}
	100% {
		transform: scale(10);
		transform: translate(-1280px); /* The image width */
	}
}
@keyframes p3 {
	0% {
		transform: translate(0);
	}
	100% {
		transform: scale(10);
		transform: translate(-1236px);
	}
}
@keyframes p4 {
	0% {
		transform: translate(0);
	}
	100% {
		transform: scale(10);
		transform: translate(-1636px);
	}
}

@keyframes s1 {
	0% {
		transform: translate(0);
	}
	100% {
		transform: scale(10);
		transform: translate(-2636px);
	}
}
@keyframes r1 {
	0% {
		transform: translate(0);
	}
	100% {
		transform: scale(10);
		transform: translate(-3000px);
	}
}
@keyframes r2 {
	0% {
		transform: translate(0);
	}
	100% {
		transform: scale(10);
		transform: translate(-1120px);
	}
}
@keyframes typebox {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes gollum {
	0%,
	10% {
		transform: rotate(180deg) scale(0.3);
		top: -400px;
		left: -50px;
	}
	12%,
	15% {
		top: -190px;
		left: -50px;
	}

	16% {
		top: -400px;
		transform: rotate(180deg) scale(0.3);
	}
	23% {
		transform: rotate(180deg) scale(0.3);
	}
	24% {
		transform: scale(0.4);
	}

	28% {
		bottom: -350px;
		left: 150px;
	}
	30%,
	40% {
		bottom: -140px;
		left: 150px;
	}
	42%,
	70% {
		left: 150px;
		bottom: -300px;
	}
	72% {
		left: 80px;
	}
	75%,
	80% {
		left: 80px;
		bottom: -170px;
	}
	82% {
		bottom: -400px;
	}

	85% {
		bottom: -160px;
		left: 120px;
	}
}
/* some coolness from https://codepen.io/bennettfeely/pen/nZXRyJ */
@-webkit-keyframes smoky {
	60% {
		text-shadow: 0 0 40px whitesmoke;
	}
	to {
		transform: translate3d(15rem, -8rem, 0) rotate(-40deg)
			skewX(70deg) scale(1.5);
		text-shadow: 0 0 20px whitesmoke;
		opacity: 0;
	}
}

@keyframes smoky {
	60% {
		text-shadow: 0 0 40px whitesmoke;
	}
	to {
		transform: translate3d(15rem, -8rem, 0) rotate(-40deg)
			skewX(70deg) scale(1.5);
		text-shadow: 0 0 20px whitesmoke;
		opacity: 0;
	}
}
@-webkit-keyframes smoky-mirror {
	60% {
		text-shadow: 0 0 40px whitesmoke;
	}
	to {
		transform: translate3d(18rem, -8rem, 0) rotate(-40deg)
			skewX(-70deg) scale(2);
		text-shadow: 0 0 20px whitesmoke;
		opacity: 0;
	}
}
@keyframes smoky-mirror {
	60% {
		text-shadow: 0 0 40px whitesmoke;
	}
	to {
		transform: translate3d(18rem, -8rem, 0) rotate(-40deg)
			skewX(-70deg) scale(2);
		text-shadow: 0 0 20px whitesmoke;
		opacity: 0;
	}
}
.intro span:nth-of-type(1) {
	-webkit-animation-delay: 13.1s;
	animation-delay: 13.1s;
}

.intro span:nth-of-type(2) {
	-webkit-animation-delay: 13.2s;
	animation-delay: 13.2s;
}

.intro span:nth-of-type(3) {
	-webkit-animation-delay: 13.3s;
	animation-delay: 13.3s;
}

.intro span:nth-of-type(4) {
	-webkit-animation-delay: 13.4s;
	animation-delay: 13.4s;
}

.intro span:nth-of-type(5) {
	-webkit-animation-delay: 13.5s;
	animation-delay: 13.5s;
}

.intro span:nth-of-type(6) {
	-webkit-animation-delay: 13.6s;
	animation-delay: 13.6s;
}

.intro span:nth-of-type(7) {
	-webkit-animation-delay: 13.7s;
	animation-delay: 13.7s;
}

.intro span:nth-of-type(8) {
	-webkit-animation-delay: 13.8s;
	animation-delay: 13.8s;
}

.intro span:nth-of-type(9) {
	-webkit-animation-delay: 13.9s;
	animation-delay: 13.9s;
}

.intro span:nth-of-type(10) {
	-webkit-animation-delay: 14s;
	animation-delay: 14s;
}

.intro span:nth-of-type(11) {
	-webkit-animation-delay: 14.1s;
	animation-delay: 14.1s;
}

.intro span:nth-of-type(12) {
	-webkit-animation-delay: 14.2s;
	animation-delay: 14.2s;
}

.intro span:nth-of-type(13) {
	-webkit-animation-delay: 14.3s;
	animation-delay: 14.3s;
}

.intro span:nth-of-type(14) {
	-webkit-animation-delay: 14.4s;
	animation-delay: 14.4s;
}

.intro span:nth-of-type(15) {
	-webkit-animation-delay: 14.5s;
	animation-delay: 14.5s;
}

.intro span:nth-of-type(16) {
	-webkit-animation-delay: 14.6s;
	animation-delay: 14.6s;
}

.intro span:nth-of-type(17) {
	-webkit-animation-delay: 14.7s;
	animation-delay: 14.7s;
}

.intro span:nth-of-type(18) {
	-webkit-animation-delay: 14.8s;
	animation-delay: 14.8s;
}

.intro span:nth-of-type(19) {
	-webkit-animation-delay: 14.9s;
	animation-delay: 14.9s;
}

.intro span:nth-of-type(20) {
	-webkit-animation-delay: 15s;
	animation-delay: 15s;
}

.intro span:nth-of-type(21) {
	-webkit-animation-delay: 15.1s;
	animation-delay: 15.1s;
}
